@page "/About"
@using Syncfusion.Blazor.Grids

<PageTitle>ABOUT</PageTitle>

<h6 class="text-uppercase" style="text-align:center;font-size:30px; font-weight:700;">About</h6>

<div class="about-about">
    <h6 style="font-size:25px;font-weight:700;">
        Bet Book V2 is the second release of Bet Book Gaming applications. V2 has many new features including moneyline and over/under wagers. All wagers are now paid out via a moneyline payout. Please check this info page regularly for more updates. If you have any question or suggestions, please email support at <a class="link-support-about" href="mailto:support@betbookgaming.com" subject="Support Ticket">support@betbookgaming.com</a>. Thank you and enjoy!
    </h6>
    <br />
    <h6 style="font-size:25px;font-weight:700;">- Founder of Bet Book Gaming</h6>
</div>


