
#game-link {
    position: relative;
}

    #game-link:hover #tooltipGameContent {
        top: 20%;
        visibility: visible;
        opacity: 1;
        transition-delay: .75s;
    }

#tooltipGameContent {
    position: absolute;
    left: 45%;
    top: 0;
    transform: translateX(45%);
    background-color: rgb(0, 0, 0);
    color: #fff;
    white-space: nowrap;
    padding: 7.5px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

    #tooltipGameContent::before {
        content: "";
        position: absolute;
        left: -22%;
        top: 0;
        transform: translateX(-25%);
        transform: translateY(7.5%);
        border: 13px solid;
        border-color: #0000 #000 #0000 #0000;
    }

.date-cell {
    padding: .5em .5em;
    text-align: center;
}

.team-cell-top {
    padding: .5em .5em;
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

.team-cell {
    text-align: center;
    padding: .5em .5em;
}


