

#hiddenContent {
    overflow: hidden;
}

.scroll-text {
    font-weight: 700;
    font-size: 2em;
    margin: 1em auto;
    text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 3px #000, 0 0 4px #000, 0 0 5px #000, 0 0 6px #000;
}

.scroll-img {
    background:transparent;
    border: none;
    box-shadow: 0 0 40px #fff;
    border-radius: 10px;
    width: 80px;
    margin: 0 auto;
}

.scroll-box {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.5);
    backdrop-filter: blur(10px);
    border: none;
    box-shadow: 5px 5px 5px rgba(0,0, 0);
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    margin-top: 10em;
    margin-bottom: 4em;
    padding: .25em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    -webkit-animation: bounce 8s infinite;
}

.arrow {
    width: 100px;
    height: 100px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yOTMuNzUxLDQ1NS44NjhjLTIwLjE4MSwyMC4xNzktNTMuMTY1LDE5LjkxMy03My42NzMtMC41OTVsMCwwYy0yMC41MDgtMjAuNTA4LTIwLjc3My01My40OTMtMC41OTQtNzMuNjcyICBsMTg5Ljk5OS0xOTBjMjAuMTc4LTIwLjE3OCw1My4xNjQtMTkuOTEzLDczLjY3MiwwLjU5NWwwLDBjMjAuNTA4LDIwLjUwOSwyMC43NzIsNTMuNDkyLDAuNTk1LDczLjY3MUwyOTMuNzUxLDQ1NS44Njh6Ii8+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIwLjI0OSw0NTUuODY4YzIwLjE4LDIwLjE3OSw1My4xNjQsMTkuOTEzLDczLjY3Mi0wLjU5NWwwLDBjMjAuNTA5LTIwLjUwOCwyMC43NzQtNTMuNDkzLDAuNTk2LTczLjY3MiAgbC0xOTAtMTkwYy0yMC4xNzgtMjAuMTc4LTUzLjE2NC0xOS45MTMtNzMuNjcxLDAuNTk1bDAsMGMtMjAuNTA4LDIwLjUwOS0yMC43NzIsNTMuNDkyLTAuNTk1LDczLjY3MUwyMjAuMjQ5LDQ1NS44Njh6Ii8+DQo8L3N2Zz4=);
    background-size: contain;
}

.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}



.scroll-box {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.5);
    backdrop-filter: blur(10px);
    border: none;
    box-shadow: 5px 5px 5px rgba(0,0, 0);
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    margin-top: 10em;
    margin-bottom: 4em;
    padding: .25em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
}

#weekText {
    font-family: 'Pacifico', cursive;
    position: relative;
    font-size: 4em;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1.5px linear-gradient(transparent, rgba(0,0,0,0.5));
    line-height: .70em;
    outline: none;
    animation: animateWeekText 10s linear infinite;
}

#scrollBoxWeek {
    position: center;
    opacity: 0;
    margin: 0 auto;
    margin-bottom: 4em;
    text-align: center;
    width: 70%;
}

@media (max-width: 520px) {
    .scroll-text {
        font-size: 1.25em;
    }
}

@media(max-width: 560px) {
    #weekText {
        font-size: 3em;
    }
}

@media(max-width: 440px) {
    #weekText {
        font-size: 2.35em;
    }
}
