
<div class="add-funds-modal">

    <strong>We cannot accept funds at this time...</strong>
    <strong>please check back.</strong>

</div>

<style>

    .add-funds-modal {
        display: flex;
        flex-direction: column;
        text-align:center;
        color: #fff;
        font-size: 1em;
        text-align: center;
        font-weight: 900;
        color: #fff;
        text-shadow: 0 0 2.5px #000, 0 0 5px #000, 0 0 7.5px #000;
        padding: 20px;
    }

</style>

@code {
    [Parameter]
    public UserModel LoggedInUser { get; set; }
}
