
<div id="footer" class="footer">
    <div class="social-media-icon-container pt-4">
        <div class="icon-wrap">
            <a href="https://twitter.com">
                <image class="icon" src="../images/twitter.png"></image>
            </a>
        </div>
        <div class="icon-wrap">
            <a href="https://facebook.com">
                <image class="icon" src="../images/facebook.png"></image>
            </a>
        </div>
        <div class="icon-wrap">
            <a href="https://linkedin.com">
                <image class="icon" src="../images/linkedin.png"></image>
            </a>
        </div>
        <div class="icon-wrap">
            <a href="https://instagram.com">
                <image class="icon" src="../images/instagram.png"></image>
            </a>
        </div>
        <div class="icon-wrap">
            <a href="https://youtube.com">
                <image class="icon" src="../images/youtube.png"></image>
            </a>
        </div>
    </div>
    <div style="display:flex;justify-content:space-evenly;">
        <div class="contact-item">
            <a style="margin-bottom:1em;" href="/" class="icon-container">
                <image class="fb-icon" src="/images/fbicon.png" />
                <h3 class="name">Bet Book</h3>
            </a>
            <h6 class="title">@copyright</h6>
            <h6 class="title">@lisence</h6>
            <h6 class="title">@city</h6>
            <div class="link-support">
                <a class="link-support-about-footer" style="text-align:center;" href="mailto:support@betbookgaming.com" subject="Support Ticket">support@betbookgaming.com</a>
            </div>
        </div>
        <div class="trust-logo">
            <img class="trust-image" src="/images/positivessl_trust_seal_lg_222x54.png" alt="team logo">
        </div>
    </div>
    <div style="padding-bottom:2em;" class="footer-nav-container">

        <div class="nav-title-game-container">

            <h6 class="nav-title">History</h6>
            <div class="footer-link">
                <NavLink href="/SinglesProfilePage" class="game-item-nav footer-game-item">My Single Bets</NavLink>
                <NavLink href="/ParleyProfilePage" class="game-item-nav footer-game-item">My Parley Bets</NavLink>
            </div>

        </div>

        <div class="nav-title-game-container">

            <h6 class="nav-title">About</h6>
            <div class="footer-link">
                <NavLink href="/About" class="game-item-nav footer-game-item">Site Info</NavLink>
            </div>

        </div>

        <div class="nav-title-game-container">

            <h6 class="nav-title">Account</h6>
            <div class="footer-link">
                <NavLink href="/AccountDetails" class="game-item-nav footer-game-item">Account Details</NavLink>
            </div>

        </div>
    </div>
</div>

<style>

    .social-media-icon-container {
        display: flex;
        width: 90%;
        margin: 0 auto;
    }

    .icon-wrap {
        margin: 0 auto;
    }

    .icon {
        height: 35px;
    }

    .icon-container {
        display: flex;
        text-decoration: none;
        justify-content: center;
    }

    .contact-item {
        width: 35%;
        padding: 1em 1em;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .trust-logo {
        margin-top: 4em;
    }

    .name {
        font-size: 25px;
        color: white;
        margin-top: .2em;
    }

    .fb-icon {
        height: 35px;
        margin-right: .25em;
    }

    .footer-nav-container {
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        margin-bottom: 2em;
        margin: 0 auto;
    }

    .nav-title-game-container {
        margin-left: 2em;
    }

    .link-support-about-footer {
        background-image: linear-gradient(180deg, #fff, #00008b);
        text-decoration: none;
        font-weight: 900;
        background-size: 0% 6px;
        background-repeat: no-repeat;
        background-position: left bottom;
        color: darkblue;
        transition: 300ms ease;
        text-shadow: 0 0 10px #fff;
    }

        .link-support-about-footer:hover {
            background-size: 100% 6px;
            color: #00008b;
        }

    .footer {
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.5);
        backdrop-filter: blur(10px);
        width: 100%;
        border-top: 4px solid #000;
        margin-top: 200px;
        color: white;
    }

    .nav-title {
        font-size: 25px;
        line-height: 0.70em;
        outline: none;
        animation: animateLabel 30s linear infinite;
        position: relative;
        background: none;
        border: none;
        display: flex;
        letter-spacing: 0.9px;
        width: fit-content;
        font-weight: 900;
        text-decoration: underline;
    }

    .footer-link {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
    }

    .footer-game-item {
        list-style-type: none;
        margin-top: .25em;
        margin-bottom: .25em;
    }

    .game-item-nav {
        text-decoration: none;
        color: #fff;
        font-weight: 700;
}

    .game-item-nav:hover {
        color: #000;
        text-decoration: underline;
    }
</style>

@code {
    string copyright = "\u00a9 Copyright Bet Book Gaming Inc.";
    string lisence = "All Rights Reserved. Digital Millennium Copyright Act.";
    string city = "Cincinnati, OH 45248";
}
