
<div class="svg-container">

    <div class="parent-div-left">

        <div id="svg-div-left">

            <svg id="my-svg-left" height="100px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path id="path-left" fill="transparent" stroke-width="15" d="M247.5 25.4c-13.5 3.3-26.4 7.2-38.6 11.7C142.9 61.6 96.7 103.6 66 153.6c-18.3 29.8-30.9 62.3-39.2 95.4L264.5 486.6c13.5-3.3 26.4-7.2 38.6-11.7c66-24.5 112.2-66.5 142.9-116.5c18.3-29.8 30.9-62.3 39.1-95.3L247.5 25.4zM495.2 205.3c6.1-56.8 1.4-112.2-7.7-156.4c-2.7-12.9-13-22.9-26.1-25.1c-58.2-9.7-109.9-12-155.6-7.9L495.2 205.3zM206.1 496L16.8 306.7c-6.1 56.8-1.4 112.2 7.7 156.4c2.7 12.9 13 22.9 26.1 25.1c58.2 9.7 109.9 12 155.6 7.9zm54.6-331.3c6.2-6.2 16.4-6.2 22.6 0l64 64c6.2 6.2 6.2 16.4 0 22.6s-16.4 6.2-22.6 0l-64-64c-6.2-6.2-6.2-16.4 0-22.6zm-48 48c6.2-6.2 16.4-6.2 22.6 0l64 64c6.2 6.2 6.2 16.4 0 22.6s-16.4 6.2-22.6 0l-64-64c-6.2-6.2-6.2-16.4 0-22.6zm-48 48c6.2-6.2 16.4-6.2 22.6 0l64 64c6.2 6.2 6.2 16.4 0 22.6s-16.4 6.2-22.6 0l-64-64c-6.2-6.2-6.2-16.4 0-22.6z" />
            </svg>

        </div>

    </div>

    <div class="parent-div-right">

        <div id="svg-div-right">

            <svg id="my-svg-right" height="100px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path id="path-right" fill="transparent" stroke-width="15" d="M247.5 25.4c-13.5 3.3-26.4 7.2-38.6 11.7C142.9 61.6 96.7 103.6 66 153.6c-18.3 29.8-30.9 62.3-39.2 95.4L264.5 486.6c13.5-3.3 26.4-7.2 38.6-11.7c66-24.5 112.2-66.5 142.9-116.5c18.3-29.8 30.9-62.3 39.1-95.3L247.5 25.4zM495.2 205.3c6.1-56.8 1.4-112.2-7.7-156.4c-2.7-12.9-13-22.9-26.1-25.1c-58.2-9.7-109.9-12-155.6-7.9L495.2 205.3zM206.1 496L16.8 306.7c-6.1 56.8-1.4 112.2 7.7 156.4c2.7 12.9 13 22.9 26.1 25.1c58.2 9.7 109.9 12 155.6 7.9zm54.6-331.3c6.2-6.2 16.4-6.2 22.6 0l64 64c6.2 6.2 6.2 16.4 0 22.6s-16.4 6.2-22.6 0l-64-64c-6.2-6.2-6.2-16.4 0-22.6zm-48 48c6.2-6.2 16.4-6.2 22.6 0l64 64c6.2 6.2 6.2 16.4 0 22.6s-16.4 6.2-22.6 0l-64-64c-6.2-6.2-6.2-16.4 0-22.6zm-48 48c6.2-6.2 16.4-6.2 22.6 0l64 64c6.2 6.2 6.2 16.4 0 22.6s-16.4 6.2-22.6 0l-64-64c-6.2-6.2-6.2-16.4 0-22.6z" />
            </svg>

        </div>

    </div>

</div>


<style>

    #path-right {
        animation: animatePath 30s linear infinite;
    }

    #path-left {
        animation: animatePath 30s linear infinite;
    }

    #svg-div-left {
        display:none;
    }

    #svg-div-right {
        display:none;
    }

    #my-svg-left {
        outline:none;
        position:fixed;
        -webkit-box-reflect: below 75px linear-gradient(White, White 20%);
        filter: drop-shadow( 0 10px 10px white);
    }

    #my-svg-right {
        outline: none;
        position: fixed;
        -webkit-box-reflect: below 75px linear-gradient(White, White 20%);
        filter: drop-shadow( 0 10px 10px white);
    }

    .svg-container {
        outline:none;
        display: flex;
        justify-content: space-between;
        width: 92%
    }

    .parent-div-left {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 2em;
        margin-right: 1em;
    }

    .parent-div-right {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 1em;
        margin-right: 2em;
    }

    @@keyframes animatePath {

        0%, 5.1%, 10.1%, 12.1%, 13.1%, 18.1%, 20.1%,  26.1%, 27.1%, 30.1%, 35.1%, 36.1%, 37.1%, 42.1%, 47.1%, 48.1%, 49.1%, 55%, 56.1%, 57.1%, 58.1%, 60.1%, 65.1%, 65.6%, 66.1%, 80.1%, 85.5%, 90.1%, 90.9%,  92.4%, 95.1%, 95.6%,  100% {
            stroke: #fff;
        }

        5%, 10%, 12%, 13%,  18%,  20%,  26%,  27%,  30%, 35%, 36%, 37%, 42%, 47%, 48%, 49%, 56%, 57%, 58%,  60%, 65%, 65.5%, 66%,  70.1%,  80%, 85%,  90%, 90.8%, 92.5%,  95%, 95.5%  {
            stroke: #000;
        }

    }

    @@media (max-width: 1100px) {

        .parent-div-left {
            margin-left: 1.5em;
        }

        #my-svg-left {
            height: 95px;
        }

        #my-svg-right {
            height: 95px;
        }
    }

    @@media (max-width: 1000px) {

        .parent-div-left {
            margin-left: 1em;
        }

        #my-svg-left {
            height: 90px;
        }

        #my-svg-right {
            height: 90px;
        }

    }

    @@media (max-width: 900px) {

        #my-svg-left {
            height: 85px;
        }

        #my-svg-right {
            height: 85px;
        }

        .parent-div-left {
            margin-left: .5em;
        }

    }

    @@media (max-width: 800px) {

        #my-svg-left {
            height: 80px;
        }

        #my-svg-right {
            height: 80px;
        }

        .parent-div-left {
            margin-left: .25em;
        }

    }

</style>