@inject AuthenticationStateProvider authProvider
@inject IMongoUserData userData

<div id="header" class="headernew px-5 pt-3 nav-links">

    <a href="/" class="icon-container">
            <image class="fb-icon" src="/images/fbicon.png" />
            <h3 class="name">Bet Book</h3>
    </a>

    <div class="login">
        <LoginDisplay />
    </div>
    
</div>

<style>
    .headernew {
        display: flex;
        justify-content: space-between;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        transition: top 0.3s;
        position: fixed;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.5);
        backdrop-filter: blur(10px);
        border-bottom: 4px solid #000;
    }
</style>

@code {

}
