@inject AuthenticationStateProvider authProvider
@inject IMongoUserData userData

<header id="header" class="headernew px-5 pt-3 nav-links">

    <div class="logo-container">
        <a href="/" class="icon-container">
            <image style="height: 45px;" class="fb-icon" src="/images/fbicon.png" />
            <strong class="name-header">Bet Book</strong>
        </a>
    </div>
    
    <div class="login">
        <LoginDisplay />
    </div>
    
</header>

<style>

    .logo-container {
        position:relative;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
        backdrop-filter: blur(10px);
        height: auto;
        width: auto;
        justify-content: start;
        display: flex;
        padding: 1em 1em;
        border: none;
        border-radius: 50px;
        box-shadow: 0 0 5px #000, 0 0 7.5px #000, 0 0 10px #000, 0 0 20px #000;
    }

        .logo-container:hover .icon-container {
            -webkit-animation: bounce 1.5s ease;
            animation: bounce 1.5s ease;
        }

    .icon-container {
        margin-top: .05em;
    }

    .name-header {
        font-size: 2em;
        letter-spacing: 0.9px;
        line-height: 0.70em;
        outline: none;
        animation: animateLogo 10s linear infinite;
        position: relative;
        width: fit-content;
        font-weight: 900;
        margin-top: .35em;
    }

    .headernew {
        display: flex;
        justify-content: space-between;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        transition: top 1s;
        position: fixed;
    }

    @@media (max-width: 770px) {

        .headernew {
            flex-direction: column;
            justify-content: center;
        }

        .logo-container {
            width: auto;
            margin: 0 auto;
        }
    }

</style>

