@inject AuthenticationStateProvider authProvider
@inject IMongoUserData userData
@inject NavigationManager navManager

    <AuthorizeView Policy="Admin">
        <Authorized>
            <SfDropDownButton CssClass="e-caret-hide" Content="Admin">
                <DropDownMenuItems>
                    <DropDownMenuItem Url="AdminPage" Text="Admin Page"></DropDownMenuItem>
                </DropDownMenuItems>
            </SfDropDownButton>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView>
        <Authorized>
            <div class="login-display">

            <SfDropDownButton CssClass="e-caret-hide" Content="About">
                <DropDownMenuItems>
                    <DropDownMenuItem Url="About" Text="Bet Book V2"></DropDownMenuItem>
                </DropDownMenuItems>
            </SfDropDownButton>
            <SfDropDownButton CssClass="e-caret-hide" Content="Place Wager">
                <DropDownMenuItems>
                    <DropDownMenuItem Url="/" Text="Available Wagers"></DropDownMenuItem>
                </DropDownMenuItems>
            </SfDropDownButton>
            <SfDropDownButton CssClass="e-caret-hide" Content="Profile">
                <DropDownMenuItems>
                    <DropDownMenuItem Url="SinglesProfilePage" Text="My Single Bets"></DropDownMenuItem>
                    <DropDownMenuItem Url="ParleyProfilePage" Text="My Parley Bets"></DropDownMenuItem>

                </DropDownMenuItems>
            </SfDropDownButton>
            <SfDropDownButton CssClass="e-caret-hide" Content="Account">
                <DropDownMenuItems>
                    <DropDownMenuItem Url="MicrosoftIdentity/Account/SignOut" Text="Sign Out"></DropDownMenuItem>
                </DropDownMenuItems>
            </SfDropDownButton>
        </div>

            

        </Authorized>

        <NotAuthorized>
            <SfDropDownButton CssClass="e-caret-hide" Content="Sign In/Up">
                <DropDownMenuItems>
                    <DropDownMenuItem Url="MicrosoftIdentity/Account/SignIn" Text="Sign In"></DropDownMenuItem>
                    <DropDownMenuItem Url="MicrosoftIdentity/Account/SignIn" Text="Sign Up"></DropDownMenuItem>
                </DropDownMenuItems>
            </SfDropDownButton>
        </NotAuthorized>
    </AuthorizeView>

    <AuthorizeView Policy="Admin">
        <Authorized>
            <SfDropDownButton CssClass="e-caret-hide" Content="Admin">
                <DropDownMenuItems>
                    <DropDownMenuItem Url="AdminPage" Text="Admin Page"></DropDownMenuItem>
                </DropDownMenuItems>
            </SfDropDownButton>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView>
        <Authorized>
            <div class="login-display-mini">
                <SfDropDownButton CssClass="e-caret-hide" Content="">
                    <DropDownMenuItems>
                        <DropDownMenuItem Url="About" Text="About"></DropDownMenuItem>
                        <DropDownMenuItem Url="/" Text="Available Wagers"></DropDownMenuItem>
                        <DropDownMenuItem Url="SinglesProfilePage" Text="My Single Bets"></DropDownMenuItem>
                        <DropDownMenuItem Url="ParleyProfilePage" Text="My Parley Bets"></DropDownMenuItem>
                        <DropDownMenuItem Url="MicrosoftIdentity/Account/SignOut" Text="Sign Out"></DropDownMenuItem>
                    </DropDownMenuItems>
                </SfDropDownButton>
            </div>
        </Authorized>
    </AuthorizeView>

@code {

}
<style>

    .e-btn {
        color: white;
        background: none;
        border: none;
        font-size: 17px;
    }

        .e-btn:hover {
            color: darkblue;
            background:transparent;
        }

        .e-btn.e-active {
            color: darkblue;
            background: transparent;
        }

    .e-dropdown-btn, .e-dropdown-btn.e-btn {
        color: white;
        background: none;
        border: none;
        font-size:17px;
    }
        .e-dropdown-btn:hover {
           color:darkblue;
        }
    
    .e-dropdown-popup {/******PopUP********/
        border: 1px solid darkblue;
        border-radius: 10px;
    }

    .e-dropdown-btn.e-active {/*********Dropdown on active*********/
        border: none;
        color: darkblue;
    }

    .e-dropdown-popup ul .e-item .e-menu-url{/*****Dropdown list items before hover*****/
        background: rgb(135,206,250, .5);
        font-weight: 700;
        display: flex;
        color:darkblue;
    }

     .e-dropdown-popup ul .e-item .e-menu-url:hover {/*****Dropdown list items on hover******/
        color: white;
    }

    .login-display-mini {
        background-image: url(../images/togglebutton.png);
    }

    @@media (max-width: 700px) {
        .login-display {
            display: none;
        }
    }

    @@media (min-width: 700px) {
        .login-display-mini {
            display: none;
        }
    }


</style>