@inject AuthenticationStateProvider authProvider
@inject IMongoUserData userData
@inject NavigationManager navManager

    <AuthorizeView Policy="Admin">
        <Authorized>
            <SfDropDownButton CssClass="e-caret-hide" Content="Admin">
                <DropDownMenuItems>
                    <DropDownMenuItem Url="AdminPage" Text="Admin Page"></DropDownMenuItem>
                </DropDownMenuItems>
            </SfDropDownButton>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView>
        <Authorized>
            <div class="login-display">

                <SfDropDownButton CssClass="e-caret-hide ddown" Content="About" @ref="aboutbtn">
                    <DropDownMenuItems>
                        <DropDownMenuItem Url="About" Text="Bet Book V2"></DropDownMenuItem>
                    </DropDownMenuItems>
                </SfDropDownButton>
                <SfDropDownButton CssClass="e-caret-hide" Content="Place Wager" @ref="wagersbtn" >
                    <DropDownMenuItems>
                        <DropDownMenuItem Url="/" Text="Available Wagers"></DropDownMenuItem>
                    </DropDownMenuItems>
                </SfDropDownButton>
                <SfDropDownButton CssClass="e-caret-hide" Content="Profile" @ref="profilebtn">
                    <DropDownMenuItems>
                        <DropDownMenuItem Url="SinglesProfilePage" Text="My Single Bets"></DropDownMenuItem>
                        <DropDownMenuItem Url="ParleyProfilePage" Text="My Parley Bets"></DropDownMenuItem>

                    </DropDownMenuItems>
                </SfDropDownButton>
                <SfDropDownButton CssClass="e-caret-hide" Content="Account" @ref="accountbtn">
                    <DropDownMenuItems>
                        <DropDownMenuItem Url="MicrosoftIdentity/Account/SignOut" Text="Sign Out"></DropDownMenuItem>
                    </DropDownMenuItems>
                </SfDropDownButton>
        </div>


            

        </Authorized>
            <NotAuthorized>
                <div class="login-display-sign-in">
                    <SfDropDownButton CssClass="e-caret-hide" Content="Sign In/Up" @ref="signinbtn">
                        <DropDownMenuItems>
                            <DropDownMenuItem Url="MicrosoftIdentity/Account/SignIn" Text="Sign In"></DropDownMenuItem>
                            <DropDownMenuItem Url="MicrosoftIdentity/Account/SignIn" Text="Sign Up"></DropDownMenuItem>
                        </DropDownMenuItems>
                    </SfDropDownButton>
                </div>
                
            </NotAuthorized>


    </AuthorizeView>

    <AuthorizeView>
        <Authorized>
            <div class="login-display-mini">
            <SfDropDownButton @ref="iconbtn" CssClass="e-caret-hide">
                    <DropDownMenuItems>
                        <DropDownMenuItem Url="About" Text="About"></DropDownMenuItem>
                        <DropDownMenuItem Url="/" Text="Available Wagers"></DropDownMenuItem>
                        <DropDownMenuItem Url="SinglesProfilePage" Text="My Single Bets"></DropDownMenuItem>
                        <DropDownMenuItem Url="ParleyProfilePage" Text="My Parley Bets"></DropDownMenuItem>
                        <DropDownMenuItem Url="MicrosoftIdentity/Account/SignOut" Text="Sign Out"></DropDownMenuItem>
                    </DropDownMenuItems>
                </SfDropDownButton>
            </div>
        </Authorized>
    </AuthorizeView>

@code {
    private SfDropDownButton aboutbtn;
    private SfDropDownButton iconbtn;
    private SfDropDownButton wagersbtn;
    private SfDropDownButton profilebtn;
    private SfDropDownButton accountbtn;
    private SfDropDownButton signinbtn;

    private void mousehover(SfDropDownButton btn)
    {
        btn.Toggle();
    }

}

<style>

    .e-btn {
        line-height: 0.70em;
        outline: none;
        animation: animate2 30s linear infinite;
        color: darkblue;
        position: relative;
        background: none;
        border: none;
        font-size: 17px;
        font-weight: 900;
    }

        .e-btn:hover {
            color: darkblue;
            background:transparent;
        }

        .e-btn.e-active {
            color: darkblue;
            background: transparent;
        }

    .e-dropdown-btn, .e-dropdown-btn.e-btn {
        color: white;
        background: none;
        border: none;
        font-size:17px;
    }
        .e-dropdown-btn:hover {
           color:darkblue;
        }

    
    .e-dropdown-popup {/******PopUP********/
        border: 1px solid darkblue;
        border-radius: 10px;
    }

    .e-dropdown-btn.e-active {/*********Dropdown on active*********/
        border: none;
        color: darkblue;
    }

    .e-dropdown-popup ul .e-item .e-menu-url{/*****Dropdown list items before hover*****/
        background: rgb(135,206,250, .5);
        font-weight: 700;
        display: flex;
        color:darkblue;
    }

     .e-dropdown-popup ul .e-item .e-menu-url:hover {/*****Dropdown list items on hover******/
        color: white;
    }

    .login-display-mini {
        background-image: url(../images/togglebutton.png);
    }

    .login-display {
        
        letter-spacing: 0.9px;
        width: fit-content;
    }

    .login-display-sign-in {
        
        letter-spacing: 0.9px;
        width: fit-content;
    }

    @@keyframes animate2 {
    0%,10%,15%,20%,25%,30%,35%,40%,45%,50% {
        color: darkblue;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff, 0 0 160px #fff;
    }

    50%,55%,60%,65%,70%,75%,80%,85%,90%,95%,100% {
        color: #fff;
        text-shadow: 0 0 10px #00008b, 0 0 20px #00008b, 0 0 40px #00008b, 0 0 80px #00008b, 0 0 160px #00008b;
    }
}

    @@media (max-width: 725px) {
        .login-display {
            display: none;
        }
    }

    @@media (min-width: 725px) {
        .login-display-mini {
            display: none;
        }
    }


</style>