@inject AuthenticationStateProvider authProvider
@inject NavigationManager navManager

    <AuthorizeView>
        <Authorized>
            <div class="login-display">
            <SfDropDownButton CssClass="e-caret-hide custom e-round-corner" Content="About" @ref="aboutbtn">
                    <DropDownMenuItems>
                        <DropDownMenuItem Url="About" Text="Bet Book V2"></DropDownMenuItem>
                    </DropDownMenuItems>
                </SfDropDownButton>
            <SfDropDownButton CssClass="e-caret-hide custom e-round-corner" Content="Place Wager" @ref="wagersbtn">
                    <DropDownMenuItems>
                        <DropDownMenuItem Url="/" Text="Available Wagers"></DropDownMenuItem>
                    </DropDownMenuItems>
                </SfDropDownButton>
            <SfDropDownButton CssClass="e-caret-hide custom e-round-corner" Content="History" @ref="profilebtn">
                    <DropDownMenuItems>
                        <DropDownMenuItem Url="SinglesProfilePage" Text="My Single Bets"></DropDownMenuItem>
                        <DropDownMenuItem Url="ParleyProfilePage" Text="My Parley Bets"></DropDownMenuItem>
                    </DropDownMenuItems>
                </SfDropDownButton>
            <SfDropDownButton CssClass="e-caret-hide custom e-round-corner" Content="Account" @ref="accountbtn">
                    <DropDownMenuItems>
                        <DropDownMenuItem Url="MicrosoftIdentity/Account/SignOut" Text="Sign Out"></DropDownMenuItem>
                    </DropDownMenuItems>
                </SfDropDownButton>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="login-display-sign-in">
                <SfDropDownButton CssClass="e-caret-hide" Content="Sign In/Up" @ref="signinbtn">
                    <DropDownMenuItems>
                        <DropDownMenuItem Url="MicrosoftIdentity/Account/SignIn" Text="Sign In"></DropDownMenuItem>
                        <DropDownMenuItem Url="MicrosoftIdentity/Account/SignIn" Text="Sign Up"></DropDownMenuItem>
                    </DropDownMenuItems>
                </SfDropDownButton>
            </div>
        </NotAuthorized>
    </AuthorizeView>
    <AuthorizeView>
        <Authorized>
            <div class="login-display-mini">
                <SfDropDownButton @ref="iconbtn" CssClass="e-caret-hide">
                    <DropDownMenuItems>
                        <DropDownMenuItem Url="About" Text="About"></DropDownMenuItem>
                        <DropDownMenuItem Url="/" Text="Available Wagers"></DropDownMenuItem>
                        <DropDownMenuItem Url="SinglesProfilePage" Text="My Single Bets"></DropDownMenuItem>
                        <DropDownMenuItem Url="ParleyProfilePage" Text="My Parley Bets"></DropDownMenuItem>
                        <DropDownMenuItem Url="MicrosoftIdentity/Account/SignOut" Text="Sign Out"></DropDownMenuItem>
                    </DropDownMenuItems>
                </SfDropDownButton>
            </div>
        </Authorized>
    </AuthorizeView>

@code {
    private SfDropDownButton aboutbtn;
    private SfDropDownButton iconbtn;
    private SfDropDownButton wagersbtn;
    private SfDropDownButton profilebtn;
    private SfDropDownButton accountbtn;
    private SfDropDownButton signinbtn;
}

<style>

    .custom.e-dropdown-popup {
        margin: 5px -20px;
    }

    .e-round-corner {
        border-radius: 10px;
    }

    .e-btn {
        line-height: 1em;
        outline: none;
        animation: animateLabel 30s linear infinite;
        color: darkblue;
        position: relative;
        background: none;
        border: none;
        font-size: 18px;
        font-weight: 900;
    }

    .e-dropdown-btn, .e-dropdown-btn.e-btn {
        color: white;
        border: none;
        background: linear-gradient(#fff,#fff);
        background-size: 0% 25px;
        background-repeat: no-repeat;
        background-position: left bottom;
        transition: 300ms ease;
        padding-left: .25em;
    }

        .e-dropdown-btn:hover {
            color: darkblue;
            background-size: 90% 5px;
        }

    .e-dropdown-popup {
        border: 1px solid darkblue;
        border-radius: 5px;
        background: transparent;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.5);
        backdrop-filter: blur(10px);
    }

    .e-dropdown-popup:hover {
        background:transparent;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.5);
        backdrop-filter: blur(10px);
            
        }

    .e-dropdown-btn.e-active {
        border: none;
        color: darkblue;
        background-size: 90% 5px;
    }

    .e-dropdown-popup ul .e-item .e-menu-url {
        background: transparent;
        font-weight: 900;
        font-size: 16px;
        display: flex;
        color: darkblue;
        text-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #fff, 0 0 10px #fff;
    }

        .e-dropdown-popup ul .e-item .e-menu-url:hover {
            color: white;
            text-shadow: 0 0 2.5px darkblue, 0 0 5px darkblue, 0 0 7.5px darkblue, 0 0 10px darkblue;
            background: transparent;
        }

    .e-dropdown-popup ul .e-item:hover {
        color: darkblue;
        background: transparent;
    }

    .login-display-mini {
        background-image: url(../images/togglebutton.png);
    }

    .login-display {
        letter-spacing: 0.9px;
        width: fit-content;
    }

    .login-display-sign-in {
        
        letter-spacing: 0.9px;
        width: fit-content;
    }

    @@keyframes animateLabel {

    0%,10%,15%,20%,25%,30%,35%,40%,45%,50% {
        color: darkblue;
        text-shadow: 0 -1px 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff, 0 0 160px #fff;
    }

    50%,55%,60%,65%,70%,75%,80%,85%,90%,95%,100% {
        color: #fff;
        text-shadow: 0 -1px 10px #00008b, 0 0 20px #00008b, 0 0 40px #00008b, 0 0 80px #00008b, 0 0 160px #00008b;
    }
}

    @@media (max-width: 675px) {

        .login-display {
            display: none;
        }

    }

    @@media (min-width: 675px) {

        .login-display-mini {
            display: none;
        }

    }

</style>