@inject AuthenticationStateProvider authProvider
@inject NavigationManager navManager

@*<i class="fa-solid fa-house"></i>*@
@*<i class="fa-solid fa-bars"></i>*@
<AuthorizeView>
    <Authorized>
            <div class="menu">
                <ul class="list">
                    <li class="item ">
                        <a href="/">
                            <span class="icon">
                                <i class="fa-solid fa-football"></i>                                
                            </span>
                            <span class="text">
                                Games
                            </span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="/About">
                            <span class="icon">
                                <i class="fa-solid fa-circle-info"></i>
                            </span>
                            <span class="text">
                                Info
                            </span>
                        </a>
                    </li>
                   
                    <li class="item">
                        <a href="/SinglesProfilePage">
                            <span class="icon">
                                <i class="fa-solid fa-book"></i>
                            </span>
                            <span class="text">
                                History(S)
                            </span>
                        </a>
                    </li>

                    <li class="item">
                        <a href="/ParleyProfilePage">
                            <span class="icon set">
                                <i class="fa-solid fa-timeline"></i>
                            </span>
                            <span class="text">
                                History(P)
                            </span>
                        </a>
                    </li>

                    <li class="item">
                        <a href="/AccountDetails">
                            <span class="icon set">
                                <i class="fa-solid fa-user"></i>
                            </span>
                            <span class="text">
                                Profile
                            </span>
                        </a>
                    </li>
                    <li class="item">
                    <a href="MicrosoftIdentity/Account/SignOut">
                            <span class="icon set">
                                <i class="fa-solid fa-right-from-bracket"></i>
                            </span>
                            <span class="text">
                                LogOut
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
    </Authorized>
    <NotAuthorized>
            <div class="menu">
                <ul style="justify-content: space-evenly" class="list">
                    <li class="item ">
                    <a href="MicrosoftIdentity/Account/SignIn">
                            <span class="icon">
                                <i class="fa-solid fa-circle-arrow-left"></i>
                            </span>
                            <span class="text">
                                LogIn
                            </span>
                        </a>
                    </li>
                    <li class="item">
                    <a href="MicrosoftIdentity/Account/SignIn">
                            <span class="icon">
                                <i class="fa-solid fa-user-plus"></i>
                            </span>
                            <span class="text">
                                SignUp
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
    </NotAuthorized>
</AuthorizeView>

<style>

    .menu {
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
        backdrop-filter: blur(10px);
        height: auto;
        width: auto;
        display: flex;
        justify-content: space-evenly;
        margin: 1em auto;
        border: none;
        border-radius: 50px;
        box-shadow:  0 0 5px #000, 0 0 7.5px #000, 0 0 10px #000, 0 0 20px #000;
    }

        .menu ul {
            display: flex;
            width: 25rem;
        }

    .item {
        position: relative;
        width: 3.5rem;
        height: 2.5rem;
        z-index: 1;
        list-style-type: none;
    }

        .item a {
            text-decoration: none;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            width: 100%;
        }

    .icon {
        position: relative;
        text-align: center;
        transform: translateY(0.5rem);
        font-weight: 100;
        color: #000;
        transition: 0.6s;
        font-size: 1rem;
        display: flex;
        align-items: center;
        border: 2px solid transparent;
        width: 35px;
        height: 35px;
        justify-content: center;
        border-radius: 50%;
    }

    .menu ul li:hover a .icon {
        transform: translateY(-1.5rem);
        opacity: 1;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: #fff;
        border: 2px solid #000;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
        box-shadow:  0 0 5px #000, 0 0 7.5px #000, 0 0 10px #000, 0 0 20px #000;;

    }

    .text {
        position: absolute;
        transition: 0.6s;
        letter-spacing: 0.04rem;
        color: #000;
        opacity: 0;
        transform: translateY(2.5rem);
        padding: 3px;
        text-transform: uppercase;
        border-radius: 9px;
        font-weight: 700;
        font-family: roboto;
        font-size: 10%;
        text-shadow: 0 0 1px #fff, 0 0 2px #fff,0 0 3px #fff, 0 0 4px #fff;
    }

    .menu ul li:hover .text {
        opacity: 1;
        transform: translateY(.5rem);
        font-size: 70%;
    }

    .text:active {
        color: #fff;
        transition: 0s;
        text-shadow: 0 0 2.5px #000, 0 0 5px #000, 0 0 7.5px #000;
    }

    @@keyframes animateLabel {

        0%,10%,15%,20%,25%,30%,35%,40%,45%,50% {
            color: #000;
                text-shadow: 0 -1px 2.5px #fff, 0 0  5px #fff, 0 0  7.5px #fff, 0  0  10px #fff;
            }

        50%,55%,60%,65%,70%,75%,80%,85%,90%,95%,100% {
            color: #fff;
                text-shadow: 0 -1px 2.5px #000, 0 0  5px #000, 0 0  7.5px #000, 0 0  10px #000;
        }
    }

    @@media (max-width: 770px) {

        .menu {
            width: fit-content;
        }
    }

    @@media (max-width: 525px) {
        .menu {
            width: auto;
        }

            .menu ul {
                padding: 0;
            }

        .list {
            display: flex;
            justify-content: space-evenly;
        }

        .item {
            width: auto;
        }
    }

    @@media (max-width: 450px) {

        .menu ul li:hover a .icon {
            transform: translateY(-1.25rem);
            width: 35px;
            height: 35px;
        }

        .menu ul li:hover .text {
            opacity: 1;
            transform: translateY(.75rem);
            font-size: 60%;
        }
    }

</style>