@inherits LayoutComponentBase
@inject NavigationManager navManager
@inject AuthenticationStateProvider authProvider
@inject IMongoUserData userData
@inject IJSRuntime jsRuntime


<PageTitle>BetBookUI</PageTitle>

<div class="page">
    <main>
        
        <Header/>

        <article class="content px-4">
            @Body
        </article>

        <Footer/>

    </main>
</div>
